#calendar {
  margin: 0px auto;
}

.btn-horario {
  margin: 1px;
  border: 1px solid #ff6b03;
  color: #fe5607;
  font-weight: bold;
  outline: 0;
}

#alertavel {
  z-index: 99999;
}

.legenda {
  display: flex;
  justify-content: center;
}

.div_aula_avulsa {
  border: 1px solid #ff5722;
  color: #ff5722 !important;
  padding: 5px;
  border-radius: 2px;
  margin: 5px;
}

.div_aula_regular {
  color: #0073e6 !important;
  border: 1px solid #0073e6;
  padding: 5px;
  border-radius: 2px;
  margin: 5px;
}

.btn-horario:hover,
.btn-horario:focus,
.btn-horario:active,
.btn-horario.disabled,
.btn-horario.active {
  outline: 0 !important;
  margin: 1px !important;
  color: #ffffff !important;
  font-weight: bold !important;
  border: 1px solid #ff6b03 !important;
  background: linear-gradient(180deg, #FF6F02 0%, #FE5408 100%) !important;
  opacity: 1;
}

.campos-participante {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.select-container {
  display: flex;
  align-items: center;
}

#formulario_reserva_avulsa,
#formulario_reserva_regular {
  text-align: left;
}

.custom-cards-agenda,
.custom-cards-professores {
  background-color: #0d1529;
  border-radius: 2px;
  border: 1px solid #314473;
}

.h2,
h2 {
  font-size: calc(1.325rem + .9vw);
}

.div-foto img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  overflow: hidden;
  object-fit: cover;
}

#divDetalhesContratantes,
#detalhesAula {
  text-align: left;
}

.divDetalhesParticipantes {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.icone-check {
  color: #FF5722;
}

.div-texto {
  color: #d0d6e1;
  justify-content: center;
}

.div-texto div {
  text-align: left;
}

.div-nome {
  color: #d0d6e1;
}

.custom-cards-agenda {
  color: #d0d6e1;
  min-height: 55vh;
  display: flex;
  align-items: center;
}

.div_voltar {
  text-align: right;
}

.fc .fc-daygrid-day-frame {
  min-height: 100%;
  position: relative;
  cursor: pointer;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #314473;
}

.fc-col-header-cell-cushion {
  color: #d0d6e1;
  text-decoration: none;
}

.fc-daygrid-day-frame:hover {
  background-color: #314473;
}

.fc-daygrid-day-number,
.fc-toolbar-title {
  color: #d0d6e1;
  text-decoration: none;
}

.fc-theme-standard .fc-scrollgrid,
.fc-theme-standard td,
.fc-theme-standard th {
  border: 1px solid #314473;
}

.fc .fc-button-primary {
  background-color: #0d1529;
  border-color: #FF5722;
  color: #FF5722;
  font-weight: bold;
}

.fc .fc-button-primary:hover,
.fc .fc-button-primary:focus {
  background-color: #FF5722;
  border-color: #FF5722;
  color: #ffffff;
  font-weight: bold;
  outline: 0;
  box-shadow: none;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  background-color: #FF5722;
  border-color: #FF5722;
  color: #fff;
  font-weight: bold;
}

.fc .fc-button-primary:disabled {
  background-color: #0d1529;
  border-color: #FF5722;
  color: #FF5722;
}

.fc .fc-toolbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width:991px) {


  .campos-participante {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .input_aluno {
    margin-left: 0 !important;
  }

  .fc-toolbar-chunk,
  .fc-button-group {
    width: 100%;
  }

  .fc-button-group,
  .fc-toolbar-title {
    text-align: center;
    margin-bottom: 5px !important;
  }
}