

.login-container {
  display: flex;
  align-items: center;
  height: 100%;
}

/* Card*/

.card {
  border-radius: 2px;
  width: 600px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #0d1529;
  border-color: #314473;
}

.card-footer {
  border: none;
  background-color: transparent;
}

/* Form Inputs */

.form-control,
.form-control:focus {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #d0d6e1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #0d1529;
  background-clip: padding-box;
  border-color: #314473;
  border-radius: 2px;
  box-shadow: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control::placeholder {
  color: #4d5d78;
  opacity: 1;
}

/* Botão de Recuperação de senha */

.recover_password {
  text-align: right;
}

.recover_password a {
  color: #4d5d78;
}

/* Botão de Login */

.btn-login {
  width: 100%;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-radius: 2px;
  background: linear-gradient(180deg, #FF6F02 0%, #FE5408 100%);
}

.btn-login:hover {
  color: #fff;
  background: linear-gradient(180deg, #FE5408 100%, #FF6F02 0%);
}