.login-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.full-page #contentDiv {
  margin-top: 0px !important;
}

.btn-login {
  padding: 10px;
}

/* Card*/

.card {
  border-radius: 2px;
  width: 600px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #0d1529;
  border-color: #314473;
}

.card-footer {
  border: none;
  background-color: transparent;
}

/* Botão de Recuperação de senha */

.recover_password {
  text-align: left;
}

.recover_password a {
  color: #4d5d78;
}