html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #d0d6e1;
  background-color: #070e1d;
  font-family: "Raleway", sans-serif;
}

/* Div do conteudo */

main {
  display: flex;
}

main .page-wrapper.full-page {
  width: 100%;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main .page-wrapper {
  min-height: 100vh;
  width: calc(100% - 250px);
  margin-left: 250px;
  display: flex;
  flex-direction: column;
}

.page-wrapperClose {
  min-height: 100vh;
  width: calc(100% - 50px);
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

#contentDiv {
  margin-top: 60px;
}

/* Toggle */

.sidebar-header {
  display: flex;
  justify-content: center;
  height: 60px;
  border-bottom: 1px solid #314473;
  align-items: center;
}

.btn-logo {
  margin-right: 90px;
}

.logo-nav {
  width: 55px;
}

.btnToggle,
.btnToggle:focus {
  border: none;
  box-shadow: none;
}

#btn-toggle-nav,
#btn-toggle-nav:focus {
  border: none;
  color: #d0d6e1;
  outline: 0;
  box-shadow: none;
  display: none;
}

/* Sidebar - Navbar */

.navSideOpen {
  padding: 5px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  background-color: #0d1529;
  border-bottom: 1px solid #314473;
  position: fixed;
  width: calc(100% - 250px);
  z-index: 999;
}

.navSideClose {
  padding: 5px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  background-color: #0d1529;
  border-bottom: 1px solid #314473;
  position: fixed;
  width: calc(100% - 50px);
  z-index: 999;
}

.custom-sidebar {
  width: 50px;
  height: 100%;
  overflow-x: hidden;
  background-color: #0d1529;
  border-right: 1px solid #314473;
  position: fixed;
  z-index: 999;
}

.custom-sidebar.show {
  height: 100%;
  width: 250px;
  overflow-x: hidden;
  background-color: #0d1529;
  border-right: 1px solid #314473;
  position: fixed;
  z-index: 999;
  margin-left: auto;
  visibility: visible;
}

/* BotÃµes Sidebar list */

.btn-list {
  padding: 25px 16px 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.btn-list li {
  text-align: left;
  list-style-type: none;
}

.nav-link {
  color: #455fa2;
}

.nav-link:hover {
  color: #FE5408;
}

.btn-list-sidebar {
  color: #455fa2;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0;
  height: 32px;
  white-space: nowrap;
}

.btn-list-sidebar:hover,
.btn-list-sidebar:active {
  color: #FE5408;
}

.icons {
  width: 16px;
  height: 16px;
}

.list-title {
  font-size: 14px;
  margin-left: 20px;
}

/* Account Button */

.myaccount {
  color: #d0d6e1;
  padding: 10px;
  border-radius: 100%;
  border: none;
  background-color: #FE5408;
}

.dropdown-toggle::after {
  display: none;
}

ul.dropdown-menu.show {
  background-color: #070e1d;
  width: 280px;
  position: absolute;
  right: -16px;
  left: auto;
  font-size: .875rem;
  top: 133%;
  border: 1px solid #314473;
}

ul.dropdown-menu.show::after {
  content: "";
  width: 13px;
  height: 13px;
  background: #070e1d;
  position: absolute;
  top: -7px;
  right: 25px;
  transform: rotate(45deg);
  border-top: 1px solid #314473;
  border-left: 1px solid #314473;
}

/* Modal */

.btn-close {
  color: #d0d6e1;
}

.modal-header {
  border-bottom: 1px solid #182239;
  background-color: #0d1529;
}

.modal-footer {
  border-top: 1px solid #182239;
  background-color: #0d1529;
}

.modal-dialog .modal-content {
  background-color: #060a14;
  border: 1px solid #182239;
}

/* Input */

.form-select,
.form-control,
.form-select:focus,
.form-control:focus {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #d0d6e1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #0d1529;
  background-clip: padding-box;
  border-color: #314473;
  border-radius: 2px;
  box-shadow: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control::placeholder {
  color: #d0d6e1;
  opacity: 1;
}

.form-control:disabled {
  background-color: #314473;
  opacity: 1;
}

/* Custom Cards */

.custom-cards {
  min-height: 50vh;
  background-color: #0d1529;
  border-radius: 2px;
  border: 1px solid #314473;
}

.custom-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-card-body h5 {
  color: #455fa2
}

/* Btn new */

.btn-new {
  color: #fff;
  border-radius: 2px;
  font-weight: bold;
  background: linear-gradient(180deg, #FF6F02 0%, #FE5408 100%);
  border: none;
}

.btn-new:hover,
.btn-new:active {
  color: #fff !important;
  border: none;
  background: linear-gradient(1deg, #FF6F02 0%, #FE5408 100%);
}

/* Btn Back */

.btn-fechar {
  color: #d0d6e1;
  font-weight: bold;
  border-radius: 2px;
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
}

.btn-fechar:hover {
  color: #d0d6e1;
  font-weight: bold;
  border-radius: 2px;
  border: none;
  background-color: transparent;
}

.btn-back {
  background: linear-gradient(180deg, #838383 0%, #414141 100%);
  color: #d0d6e1;
  font-weight: bold;
  border-radius: 2px;
  border: none;
}

.btn-back:hover {
  background: linear-gradient(180deg, #414141 0%, #838383 100%);
  color: #d0d6e1;
  font-weight: bold;
  border-radius: 2px;
  border: none;
}

/* Btn confirm delete */

.confirm-delete {
  background: linear-gradient(180deg, #ef6767 0%, #ff1100 100%);
  color: #d0d6e1;
  font-weight: bold;
  border-radius: 2px;
  border: none;
}

.confirm-delete:hover {
  background: linear-gradient(180deg, #ff1100 0%, #ef6767 100%);
  color: #d0d6e1;
  font-weight: bold;
  border-radius: 2px;
  border: none;
}

/* Datatable */

table.dataTable>thead>tr>th,
table.dataTable>thead>tr>td {
  padding: 10px;
  border-bottom: 1px solid rgb(49 68 115);
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #d0d6e1 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #d0d6e1 !important;
  border: 0px solid transparent;
  background: transparent;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_filter input:focus-visible {
  border: 1px solid #314473;
  border-radius: 2px;
  padding: 5px;
  background-color: transparent;
  color: inherit;
  margin-left: 3px;
  margin-bottom: 5px;
  outline: 0;
}

.dataTables_wrapper .dataTables_filter input::placeholder {
  color: #d0d6e1;
}

.dataTables_wrapper .dataTables_length select,
.dataTables_wrapper .dataTables_length select:focus-visible {
  border: 1px solid #314473;
  border-radius: 2px;
  padding: 5px;
  background-color: transparent;
  color: inherit;
  outline: 0;
}

.btn-edit,
.btn-delete {
  color: #d0d6e1;
  border: none;
}

.btn-edit:hover,
.btn-delete:hover {
  color: #314473;
  border: none;
}

table.dataTable.row-border>tbody>tr>th,
table.dataTable.row-border>tbody>tr>td,
table.dataTable.display>tbody>tr>th,
table.dataTable.display>tbody>tr>td {
  border-top: 1px solid rgb(49 68 115);
}

/* Select */

option {
  background-color: #0d1529;
  color: #d0d6e1;
}

option:checked,
option:hover {
  background-color: rgb(49 68 115);
  color: #d0d6e1;
}



.error-icon {
  color: red;
}

.success-icon {
  color: green;
}

#datatable-user,
#datatable-plan {
  text-align: center;
  border: 1px solid rgb(49 68 115) !important;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
  text-align: center;
}

.icon-modal svg {
  color: #455fa2;
  font-size: 2rem;
}

.formulario .row div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn-inativo {
  outline: 0 !Important;
  color: #d0d6e1 !Important;
  border: none !Important;
  background-color: red;
  padding: 1px 3px 1px 3px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 12px;
  width: 50px;
}

.btn-inativo:hover,
.btn-inativo:focus,
.btn-inativo:active {
  outline: 0 !Important;
  color: #d0d6e1 !Important;
  border: none !Important;
  background-color: #6a0505 !Important;
  padding: 1px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 12px;
}

.btn-ativo {
  outline: 0 !Important;
  color: #d0d6e1 !Important;
  border: none !Important;
  background-color: green !Important;
  padding: 1px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 12px;
  width: 50px;
}

.btn-ativo:hover,
.btn-ativo:focus,
.btn-ativo:active {
  outline: 0 !Important;
  color: #d0d6e1 !Important;
  border: none !Important;
  background-color: #08440b !Important;
  padding: 1px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 12px;
}

.table-users,
.table-plans {
  overflow: auto;
}

/* Media Query */

@media screen and (max-width:991px) {
  .custom-sidebar {
    z-index: 999;
    margin-left: -240px;
    visibility: hidden;
  }

  .page-wrapperClose {
    min-height: 100vh;
    width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }

  .navSideClose {
    padding: 5px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #0d1529;
    border-bottom: 1px solid #314473;
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  .navSideOpen {
    padding: 5px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #0d1529;
    border-bottom: 1px solid #314473;
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  main .page-wrapper {
    min-height: 100vh;
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }

  #btn-toggle-nav,
  #btn-toggle-nav:focus {
    border: none;
    color: #d0d6e1;
    outline: 0;
    box-shadow: none;
    display: block;
  }
}