.divImageSelect {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divFoto{
  display: none;
}

.divFoto {
  width: 100%;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}

.image-button .icon-image {
  font-size: 5rem;
}

.image-input {
  text-align: center;
}

.image-input input {
  display: none;
}

.image-input label {
  display: flex;
  color: #FFF;
  background: #060a14;
  padding: 0.3rem 0.6rem;
  font-size: 115%;
  cursor: pointer;
  width: 100%;
  height: 20vh;
  border: 1px solid #182239;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.image-input label i {
  font-size: 125%;
  margin-right: 0.3rem;
}

.image-input label:hover i {
  animation: shake 0.35s;
}

.image-input img {
  border: 1px solid #182239;
  width: 200px;
  height: 200px;
  border-radius: 10%;
  overflow: hidden;
  object-fit: cover;
}

.image-input span {
  display: none;
  cursor: pointer;
  color: #314473;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  position: absolute;
  font-size: 3rem;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}