.divImageSelect {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divFoto {
  width: 100%;
  flex-direction: column !important;
  align-content: center !important;
  justify-content: center;
  align-items: center;
}

.image-button .icon-image {
  font-size: 5rem;
}

.image-input {
  text-align: center;
}

.image-input input {
  display: none;
}

.image-input label {
  display: flex;
  color: #FFF;
  background: #060a14;
  padding: 0.3rem 0.6rem;
  font-size: 115%;
  cursor: pointer;
  width: 100%;
  height: 20vh;
  border: 1px solid #182239;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.image-input label i {
  font-size: 125%;
  margin-right: 0.3rem;
}

.image-input label:hover i {
  animation: shake 0.35s;
}

.image-input img {
  max-width: 50%;
  display: none;
  border: 1px solid #182239;
  border-radius: 5px;
}

.image-input span {
  display: none;
  cursor: pointer;
  color: #ff5f06;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  position: absolute;
}

.image-input span:hover {
  color: #ffffff;
  font-weight: bold;
  background: linear-gradient(180deg, #FF6F02 0%, #FE5408 100%);
  border: 1px solid #FF5722;

}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}