{% extends "frontend/template.html" %}
{% load static %}

{% block title %} Pacotes | Arena Sunset {% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/pacotes.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/libs/select2.css' %}">

<script src="{% static 'frontend/js/libs/datatables.js' %}"></script>
<script src="{% static 'frontend/js/libs/datatables.min.js' %}"></script>
<script src="{% static 'frontend/js/libs/jquery.mask.min.js' %}"></script>
<script src="{% static 'frontend/js/libs/select2.js' %}"></script>
<script src="{% static 'frontend/js/libs/select2.min.js' %}"></script>
<script src="{% static 'frontend/js/pacotes.js' %}"></script>

<div class="card custom-cards mt-4 mb-4 me-3 ms-3">
  <div class="card-body">
    <div class="header_card">
      <h5>Pacotes de Aula</h5>
      <button class="btn btn-new" id="new_plan" type="button">Novo Pacote</button>
    </div>

    <div class="table tabela_dados table-plans mt-3">
      <table id="datatable-plan" class="table table-dark table-responsive display nowrap" aria-describedby="table-plan">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Qtd. Aulas</th>
            <th>Qtd. Participantes</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="modal fade" id="modal-form" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Criação de Pacotes</h1>
        <button type="button" class="btn-fechar close-modal" data-bs-dismiss="modal" aria-label="Close"><i
            class="fa-solid fa-xmark"></i></button>
      </div>

      <div class="modal-body">

        <form class="formulario" id="formulario" enctype="multipart/form-data">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <input id="nome" class="form-control" type="text" name="nome" placeholder="Nome do Pacote" required
                maxlength="50">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <div class="input-group">
                <span class="input-group-text" id="addon_valor">R$</span>
                <input id="valor" class="form-control" type="text" name="valor" placeholder="Valor"
                  aria-describedby="addon_valor" required maxlength="20">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <select id="qtd_aulas" class="form-control" name="qtd_aulas" style="width: 100%" required>
                <option selected disabled>Aulas Semanais</option>
                <option value="1">Uma Aula</option>
                <option value="2">Duas Aulas</option>
                <option value="3">Três Aulas</option>
                <option value="4">Quatro Aulas</option>
                <option value="5">Cinco Aulas</option>
                <option value="6">Seis Aulas</option>
                <option value="7">Sete Aulas</option>
              </select>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <select id="qtd_participantes" class="form-control" name="participantes" style="width: 100%" required>
                <option selected disabled>Participantes</option>
                <option value="1">Individual</option>
                <option value="2">Duplas</option>
                <option value="3">Trios</option>
              </select>
            </div>
          </div>

          {% csrf_token %}

        </form>

        <div id="error-message" class="text-danger mt-2"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-back close-modal" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-new" id="Gravar" value="-1">Gravar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}