{% extends "frontend/template.html" %}
{% load static %}

{% block title %} Criar usuário | Arena Sunset {% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/user.css' %}">

<script src="{% static 'frontend/js/libs/datatables.js' %}"></script>
<script src="{% static 'frontend/js/libs/datatables.min.js' %}"></script>
<script src="{% static 'frontend/js/libs/jquery.mask.min.js' %}"></script>
<script src="{% static 'frontend/js/user.js' %}"></script>

<div class="card custom-cards mt-4 mb-4 me-3 ms-3">
  <div class="card-body">
    <div class="custom-card-body">
      <h5>Usuários</h5>
      <button class="btn btn-new" id="new_user">Novo Usuário</button>
    </div>

    <div class="table-users mt-3">
      <table id="datatable-user" class="row-border table-responsive display" aria-describedby="table-user">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Grupo</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody id="">
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="modal fade" id="modal-form" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Criação de usuários</h1>
        <button type="button" class="btn-fechar" data-bs-dismiss="modal" aria-label="Close"><i
            class="fa-solid fa-xmark"></i></button>
      </div>

      <div class="modal-body">

        <form class="formulario" id="formulario" enctype="multipart/form-data">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <input id="nome" class="form-control" type="text" name="nome" placeholder="Nome" required>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <input id="sobrenome" class="form-control" type="text" name="sobrenome" placeholder="Sobrenome" required>
            </div>
          </div>

          <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <input id="usuario" class="form-control" type="text" name="usuario" placeholder="Usuário de login"
                required>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <input id="email" class="form-control" type="text" name="email" placeholder="Email" required
                autocomplete="username">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <input id="senha" class="form-control" type="password" name="senha" placeholder="Senha de login" required
                autocomplete="new-password">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <input id="conf_senha" class="form-control" type="password" name="conf_senha"
                placeholder="Confirmação de senha" required autocomplete="new-password">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <input id="cpf" class="form-control" type="text" name="cpf" placeholder="CPF" required>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <select id="grupo" class="form-select" name="grupo" aria-label="Selecione um grupo" required></select>
            </div>
          </div>

          {% csrf_token %}

        </form>

        <div id="error-message" class="text-danger mt-2"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-back" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-new" id="Gravar">Gravar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}