{% extends "frontend/template.html" %}
{% load static %}

{% block title %} Login | Arena Sunset {% endblock %}

{% block navbar %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/login.css' %}">
<script src="{% static 'frontend/js/login.js' %}"></script>

<div class="container-fluid login-container">

  <div class="card">
    <div class="card-title mt-4 mb-4">
      <img src="{% static 'frontend/img/logopadel.png' %}" alt="logo_padel"/>
    </div>

    <div class="card-body">
      <form class="formulario" method="post" action="{% url 'frontend:login' %}?next={{next_url}}">
        {% csrf_token %}

        <div class="mb-3">
          <input class="form-control" type="text" name="username" placeholder="Usuário" required>
        </div>

        <div class="mb-3">
          <input class="form-control" type="password" autocomplete="current-password" name="password"
            placeholder="Senha" required>
        </div>

        <div class="mb-3 recover_password">
          <a href="#">Esqueci a senha</a>
        </div>

        <div class="mb-3">
          <button class="btn btn-new w-100" type="submit" value="login">Entrar</button>
        </div>
        {{erro_login}}
      </form>
    </div>
  </div>

</div>

{% endblock %}