{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/libs/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/libs/all.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/libs/datatables.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/libs/datatables.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/template.css' %}">

  <script src="{% static 'frontend/js/libs/jquery.js' %}"></script>

  <script src="{% static 'frontend/js/libs/all.min.js' %}"></script>
  <script src="{% static 'frontend/js/libs/bootstrap.js' %}"></script>
  <script src="{% static 'frontend/js/libs/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'frontend/js/init.js' %}"></script>
  <script src="{% static 'frontend/js/template.js' %}"></script>
  <title>{% block title %}{% endblock %}</title>

</head>

<body>

  <main>
    {% block sidebar %}
    <nav class="custom-sidebar show" aria-label="sidebar">

      <div class="sidebar-header">
        <a class="btn-logo" href="/" title="Logo Arena Sunset">
          <img class="logo-nav" src="{% static 'frontend/img/logopadel.png' %}" alt="Logo Arena Sunset" />
        </a>

        <button class="navbar-toggler btn-toggle" type="button" title="Barra Lateral" id="btn-toggle-sidebar">
          <i class="icons fa-solid fa-x"></i>
        </button>
      </div>

      <div class="sidebar-body">
        <ul class="Btn-list">

          <li>
            <a class="btn-list-sidebar active" href="/">
              <i class="icons fa-solid fa-calendar-days"></i>
              <span class="list-title">Agenda</span>
            </a>
          </li>

          {% if perfil_administrador %}
          <li>
            <a class="btn-list-sidebar active" href="#">
              <i class="icons fa-solid fa-users"></i>
              <span class="list-title">Alunos</span>
            </a>
          </li>

          <li>
            <a class="btn-list-sidebar" href="{% url 'frontend:Criar pacotes' %}">
              <i class="icons fa-solid fa-file-invoice-dollar"></i>
              <span class="list-title">Pacotes</span>
            </a>
          </li>

          <li>
            <a class="btn-list-sidebar" href="{% url 'frontend:Criar usuário' %}">
              <i class="icons fa-solid fa-clipboard-user"></i>
              <span class="list-title">Colaboradores</span>
            </a>
          </li>

          <li>
            <a class="btn-list-sidebar" href="#">
              <i class="icons fa-solid fa-file-pdf"></i>
              <span class="list-title">Relatórios</span>
            </a>
          </li>

          {% elif perfil_atendimento %}

          <li>
            <a class="btn-list-sidebar active" href="{% url 'frontend/usuarios:criar' %}">
              <i class="icons fa-solid fa-users"></i>
              <span class="list-title">Alunos</span>
            </a>
          </li>

          {% endif %}
        </ul>

      </div>

    </nav>
    {% endblock %}

    <div class="page-wrapper" id="content">

      {% block navbar %}
      <nav id="navbar" class="navbar navSideOpen" data-bs-theme="dark" aria-label="navbar">

        <button class="navbar-toggler btn-toggle" type="button" title="Barra Lateral" id="btn-toggle-nav">
          <i class="icons fa-solid fa-x"></i>
        </button>

        <div class="btn-group me-3">

          <a class="myaccount dropdown-toggle" id="myaccount" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" title="Minha Conta">
            <i class="fa-solid fa-user"></i>
          </a>

          <ul class="dropdown-menu">
            {% if user.is_authenticated %}

            {% if perfil_administrador %}
            <li><a class="dropdown-item" target="_self" href="{% url 'frontend:administracao' %}">Administração</a></li>
            {% endif %}

            {% if user.is_superuser %}
            <li><a class="dropdown-item" target="_blank" href="{% url 'admin:index' %}">Acessar o Django</a></li>
            {% endif %}

            <li>
              <form method="post" style="margin-bottom: 0;" action="{% url 'frontend:logout' %}">
                {% csrf_token %}
                <button class="dropdown-item" type="submit">Sair</button>
              </form>
            </li>

            {% else %}
            <li>
              <a class="dropdown-item" target="_self" href="{% url 'frontend:login' %}">Acessar</a>
            </li>
            {% endif %}
          </ul>

        </div>
      </nav>
      {% endblock %}

      <section class="container-fluid text-center" id="contentDiv">

        {% block content %}
        {% endblock %}

        <div class="modal fade" id="alertavel" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso</h1>
                <button type="button" class="btn-fechar" data-bs-dismiss="modal" aria-label="Close"><i
                    class="fa-solid fa-xmark"></i></button>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-back" data-bs-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main>

  <footer>
    {% if messages %}
    <div id="div_mensagens">
      <ul class="messages">
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <li class="alert alert-success alert-dismissible">
          {% elif message.tags == 'info' %}
        <li class="alert alert-info alert-dismissible">
          {% elif message.tags == 'warning' %}
        <li class="alert alert-warning alert-dismissible">
          {% elif message.tags == 'error' %}
        <li class="alert alert-danger alert-dismissible">
          {% endif %}
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </footer>

  <script>
    removerAlertas()
  </script>
</body>

</html>