{% extends "frontend/template.html" %}
{% load static %}

{% block title %} Usuários | Arena Sunset {% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/usuarios.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/libs/select2.css' %}">

<script src="{% static 'frontend/js/libs/jquery.mask.min.js' %}"></script>
<script src="{% static 'frontend/js/libs/select2.js' %}"></script>
<script src="{% static 'frontend/js/libs/select2.min.js' %}"></script>
<script src="{% static 'frontend/js/usuarios.js' %}"></script>

<div class="card custom-cards mt-4 mb-4 me-3 ms-3">
  <div class="card-body">
    <div class="header_card">
      <h5>Colaboradores</h5>
      <button class="btn btn-new" id="new_user" type="button">Novo Colaborador</button>
    </div>

    <div class="table tabela_dados table-users mt-3">
      <table id="datatable-user" class="table table-dark table-responsive display nowrap" aria-describedby="table-user">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Grupo</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-form" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Criação de colaboradores</h1>
        <button type="button" class="btn-fechar close-modal" data-bs-dismiss="modal" aria-label="Close"><i
            class="fa-solid fa-xmark"></i></button>
      </div>

      <div class="modal-body">

        <form class="formulario" id="formulario" enctype="multipart/form-data">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <label for="nome" class="form-label"><b>Nome</b></label>
              <input id="nome" class="form-control" type="text" name="nome" placeholder="Digite o Nome" required
                maxlength="50">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <label for="sobrenome" class="form-label"><b>Sobrenome</b></label>
              <input id="sobrenome" class="form-control" type="text" name="sobrenome" placeholder="Digite o Sobrenome"
                maxlength="50">
            </div>
          </div>

          <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <label for="usuario" class="form-label"><b>Usuário</b></label>
              <input id="usuario" class="form-control" type="text" name="usuario" placeholder="Digite o Usuário"
                required maxlength="50">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <label for="email" class="form-label"><b>Email</b></label>
              <input id="email" class="form-control" type="email" name="email" placeholder="Digite o Email"
                autocomplete="username" maxlength="50">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <label for="email" class="form-label"><b>Senha</b></label>
              <input id="senha" class="form-control" type="password" name="senha" placeholder="Digite a Senha" required
                autocomplete="new-password" maxlength="50">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <label for="email" class="form-label"><b>Confirmação de Senha</b></label>
              <input id="conf_senha" class="form-control" type="password" name="conf_senha"
                placeholder="Digite a Confirmação de senha" required autocomplete="new-password" maxlength="50">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <label for="nome" class="form-label"><b>CPF</b></label>
              <input id="cpf" class="form-control" type="text" name="cpf" placeholder="Digite o CPF">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
              <label for="nome" class="form-label"><b>Grupo</b></label>
              <select id="grupo" class="form-control" name="grupo" required style="width: 100%">
                <option selected disabled>Selecione o Grupo</option>
              </select>
            </div>
          </div>

          <div class="image-input">
            <input type="file" accept="image/*" id="imageInput" name="imageInput">
            <label for="imageInput" class="image-button">
              <i class="far fa-image icon-image"></i>
              <p>Escolher Foto de Perfil</p>
            </label>
            <div class="divFoto">
              <img src="" class="image-preview" alt="Foto Colaborador">
              <span class="change-image"><i class="fas fa-image"></i></span>
            </div>
          </div>

          {% csrf_token %}

        </form>

        <div id="error-message" class="text-danger mt-2"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-back close-modal" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-new" id="Gravar" value="-1">Gravar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}